.btn {
  padding: 15px 15px;
  border-style: none;
  border-radius: 4px;
  background: $primaryBtnColor;
  color: $textWhite;
  margin-top: 10px;
  justify-self: center;
  cursor: pointer;
}

.btn-auth {
  width: 20%;
  cursor: pointer;
}

.btn-action {
  padding: 20px 15px;
  width: 15%;
  cursor: pointer;
}

.btn-addbooks {
  padding: 10px 15px;
  margin-top: 20px;
  width: 50%;
  margin-bottom: 30px;
}

.btn-add-book-account {
  border-bottom: 1px solid $backgroundWhite;
  color: $textWhite;
  font-size: 14px;
}
