.auth-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 70vh;
  justify-items: center; /* Vertical centering */
  align-content: center;

  .auth-form__input {
    width: 40%;
    padding: 12px 15px;
    border-radius: 4px;
    border-style: none;
    background: $backgroundWhite;
    border: 1px solid $textWhite;
    margin: 10px 0;
    justify-self: center;
  }
}

.account-settings-top {
  width: 40%;
  margin: auto;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  // min-height: 80vh;
  width: 25%;
  margin: 30px auto auto auto;

  .headline {
    align-self: end;
  }

  .form-input {
    padding: 10px 12px;
    border-radius: 4px;
    border-style: none;
    background: $backgroundWhite;
    border: 1px solid $textWhite;
    margin: 10px 0;
  }

  // file input styling
  input[type='file'] {
    /* this will hide default input */
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }

  input[type='file'] + label {
    color: $textWhite;
    font-size: 12px;
    background: darkslategrey;
    border-style: none;
  }

  .checkbox-style {
    align-self: center;
  }

  // custom checkbox style

  .container {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    color: $textWhite;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 2px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media (max-width: 600px) {
  .form-wrapper {
    width: 80%;
  }
  .auth-form-wrapper {
    .auth-form__input {
      width: 80%;
    }
  }
  .account-settings-top {
    width: 80%;
  }

  .btn-auth {
    width: 60%;
  }
}
