.headline {
  text-align: center;
  color: $textWhite;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headline-2 {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: grey;
}

.support-p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto';
  color: grey;
  margin-top: 30px;
  a {
    color: $textWhite;
  }
}

.headline-wrapper {
  .headline {
    position: relative;
  }
  .support-info {
    position: absolute;
    top: 15%;
    right: 20%;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: grey;
    border-bottom: 2px solid white;
    padding: 8px;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .support-info {
    display: none;
  }
}
