.show-alert {
  p {
    color: $errorTextColor;
    background: $backgroundWhite;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
  }
}

.show-alert__success {
  p {
    color: $successTextColor;
    text-align: center;
  }
}
