.container {
  width: 60%;
  margin: auto;
}

body {
  background: $backgroundBlack;
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
