.book-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: $backgroundWhite;
  border-radius: 4px;
  width: 30%;
  margin: auto auto 20px auto;
  cursor: pointer;

  h3,
  p {
    margin: 0;
  }
  .book-details {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: center;
    margin-left: 10px;

    button {
      background: firebrick;
      border-style: none;
      border-radius: 4px;
      padding: 4px 6px;
      color: $textWhite;
      justify-self: end;
      width: 100px;
      height: 70%;
      margin-right: 30px;
      cursor: pointer;
    }
  }
}

.book-card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (max-width: 600px) {
  .book-card {
    width: 80%;
  }
}
