#single-book-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 45%;
  margin: auto;
  min-height: 50vh;
  justify-content: center;
  align-content: center;
  position: relative;
  img {
    width: 150px;
    height: 200px;
  }

  .single-book-data {
    h2 {
      font-size: 24px;
      color: $textWhite;
    }
    p {
      margin: 0;
      color: grey;
      font-size: 16px;
    }
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    a {
      text-decoration: none;
      background: $backgroundWhite;
      color: $textBlack;
      align-self: start;
      justify-self: start;
    }
  }
  button {
    width: 70%;
    background: #00b087;
    color: $textBlack;
    height: 50px;
    justify-self: end;
  }
}

#single-book-details-p {
  width: 45%;
  margin: auto;
  h2 {
    margin-top: 0;
    color: #f0f0f0;
    font-weight: normal;
  }
  p {
    color: #ccc;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
}

.msg-sent-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

.msg-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
  p {
    margin: 50px 0 0 80px;
    color: $textBlack;
    font-size: 14px;
  }
  .msg-field {
    display: flex;
    justify-items: center;
    border-style: none;
    margin: 10px auto 0 auto;
    outline: none;
    border-radius: 4px;
    width: 350px;
    height: 150px;
  }
  .msg-submit {
    margin-top: 20px;
    margin-left: 80px;
    border-style: none;

    border-radius: 2px;
    background: #00b087;
    color: $textBlack;
    padding: 5px 10px;
  }
}

.blur-background {
  opacity: 0.1;
}

@media (max-width: 1000px) {
  #single-book-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 30px auto 30px auto;
    min-height: 100%;

    justify-content: center;
    align-content: center;
    position: relative;
    img {
      width: 100px;
      height: 150px;
    }

    .single-book-data {
      h2 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        margin: 0;
        color: $textWhite;
        font-size: 14px;
        font-weight: 400;
      }
      display: grid;
      grid-template-columns: 1fr;
      align-items: start;
      a {
        text-decoration: none;
        background: $backgroundWhite;
        color: $textBlack;
        align-self: start;
        justify-self: start;
        padding: 8px;
        font-size: 14px;
      }
    }
    button {
      width: 100%;
      background: #00b087;
      color: $textBlack;
      height: 40px;
      justify-self: start;
      padding: 0;
    }
  }
  #single-book-details-p {
    width: 80%;
    margin: auto;
    h2 {
      margin-top: 0;
      color: #f0f0f0;
      font-weight: normal;
    }
    p {
      color: #ccc;
      line-height: 25px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
    }
  }

  .msg-modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 270px;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
    p {
      margin: 20px 0 0 30px;
      color: $textBlack;
      font-size: 14px;
    }
    .msg-field {
      display: flex;
      justify-items: center;
      border-style: none;
      margin: 10px auto 0 auto;
      outline: none;
      border-radius: 4px;
      width: 300px;
      height: 150px;
    }
    .msg-submit {
      margin-top: 20px;
      margin-left: 30px;
      border-style: none;

      border-radius: 2px;
      background: #00b087;
      color: $textBlack;
      padding: 5px 10px;
    }
  }
}
