.books-wrapper,
.filtered-books-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
  width: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
  }
  img:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
  }
}

.genres {
  position: relative;
}

.list-genres {
  display: grid;
  grid-template-columns: 1fr;
  background: $backgroundWhite;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 10px;
  position: absolute;
  top: 24px;
  z-index: 2;
  display: none;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  span {
    padding: 5px 15px;
    cursor: pointer;
  }
  span:hover {
    background: $backgroundBlack;
    color: $textWhite;
  }
}

.genres::before,
.genres::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  height: 10px;
}

.genres::before {
  top: 100%;
}

.genres::before {
  bottom: 100%;
}

.genres:hover .list-genres {
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .books-wrapper,
  .filtered-books-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 10px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 150px;
      cursor: pointer;
      transition: 0.3s;
    }
    img:hover {
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
    }
  }
}
