.home-1 {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 70vh;
  justify-items: center;
  align-content: center;
  p {
    color: $textWhite;
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: $textWhite;
    text-align: center;
  }
}
