.no-msg-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.chat-wrapper {
  display: flex;
  width: 60%;
  margin: 20px auto auto auto;
  height: 80vh;

  .chat-list {
    flex: 1.5;
    background: white;
    overflow-x: auto;
    border-radius: 4px 0 0 4px;
    .chat-list-headline {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      color: grey;
      margin-bottom: 10px;
    }

    .user-info {
      display: flex;
      align-items: center;
      background: #f7f7f7;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .user-info-content {
        margin-left: 10px;
        font-size: 14px;
        color: #333;
      }
    }

    .user-info:hover {
      background: $backgroundBlack;
      p {
        color: #ccc;
      }
    }
    .active-user {
      background: $backgroundBlack;
      p {
        color: #ccc;
      }
    }
  }
  .open-chat {
    flex: 3;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 0 4px 4px 0;
    .open-chat-headline {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      color: grey;
    }
    .open-conversation {
      flex: 6;
      overflow-y: auto;
      .self {
        text-align: right;
        margin-left: 50%;
        margin-right: 10px;
        margin-top: 20px;

        span {
          font-size: 14px;
          background: rgb(135, 231, 148);
          padding: 8px 12px;
          border-radius: 25px;
          margin-top: 10px;
          line-height: 20px;
          display: inline-block;
        }
      }
      .user {
        margin-right: 50%;
        padding: 8px 12px;
        margin-left: 10px;
        border-radius: 10px;
        margin-top: 10px;

        span {
          background: rgb(224, 243, 153);
          font-size: 14px;
          line-height: 20px;
          padding: 8px 12px;
          border-radius: 25px;
          margin-top: 20px;
          display: inline-block;
        }
      }
    }

    .chat-reply {
      flex: 1;
      background: #e2e2e2;
      display: flex;
      align-items: center;
      border-top: 1px solid #ccc;
      border-radius: 0 0 4px 0;
      margin-top: 10px;

      .chat-reply-text {
        border-radius: 10px;
        background: #f0f0f0;
        border: 1px solid #ccc;
        width: 85%;
        margin-left: 10px;
        outline: 0;
        padding: 10px;
      }
    }
  }
}

.mobile-chat-wrapper {
  display: none;
  width: 80%;
  margin: 20px auto auto auto;
  height: 80vh;
  background: white;
  border-radius: 4px;

  .mobile-chat-list {
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    .mobile-user-lists {
      display: flex;
      overflow-x: auto;

      .mobile-user-info {
        display: flex;
        flex-direction: column;
        margin: 10px;
        cursor: pointer;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          filter: brightness(40%);
        }
        p {
          font-size: 13px;
          margin-top: 5px;
          color: #333;
          opacity: 0.5;
          text-align: center;
        }
      }
      .mobile-active-user {
        img {
          filter: brightness(100%);
        }
        p {
          opacity: 1;
        }
      }
    }
  }
  .mobile-open-chat {
    flex: 7;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .mobile-self {
      text-align: right;
      margin-left: 50%;
      margin-right: 10px;
      margin-top: 10px;
      span {
        background: rgb(135, 231, 148);
        padding: 8px 12px;
        border-radius: 25px;
        font-size: 14px;

        display: inline-block;
      }
    }
    .mobile-user {
      margin-right: 50%;
      margin-left: 10px;
      border-radius: 10px;
      margin-top: 10px;

      span {
        background: rgb(224, 243, 153);
        padding: 8px 12px;
        border-radius: 25px;
        font-size: 14px;

        font-size: 14px;
        line-height: 20px;
        padding: 10px;
        display: inline-block;
      }
    }
  }

  .mobile-chat-reply {
    flex: 1.5;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    .mobile-chat-reply-text {
      border-radius: 10px;
      background: #f0f0f0;
      border: 1px solid #ccc;
      width: 80%;
      margin-left: 10px;
      outline: 0;
      padding: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .mobile-chat-wrapper {
    display: flex;
    flex-direction: column;
  }
  .chat-wrapper {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobile-chat-wrapper {
    width: 100%;
  }
}
