nav {
  border-bottom: 0.5px solid rgba($color: #474747, $alpha: 1);
}

.nav {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;

  .nav-item {
    flex: 1;
    display: flex;
    margin: 10px 20px 10px 10px;
    svg {
      fill: $textWhite;
    }
    a {
      text-decoration: none;
      color: $textWhite;
      align-self: center;
      margin-left: 3px;
    }
  }

  .search {
    position: relative;

    svg {
      position: absolute;
      top: 9px;
      right: 20px;
    }
    input {
      padding: 10px 12px;
      border-radius: 4px;
      border-style: none;
      background: $backgroundWhite;
      width: 250px;
    }

    .search-results {
      position: absolute;
      top: 50px;
      display: flex;
      border-radius: 4px;
      background: $backgroundWhite;
      z-index: 20;
      width: 275px;

      p {
        margin: 0;
      }
    }
    .hide-search-results {
      display: none;
    }
  }

  .account-link {
    position: relative;
  }

  .account-dropdown-wrapper.active {
    display: block;
  }

  .account-dropdown-wrapper {
    padding: 8px 0;
    background: $backgroundWhite;
    border-radius: 4px;
    position: absolute;
    top: 55px;
    z-index: 2;
    display: none;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);

    li {
      padding: 5px 0;
      a {
        text-decoration: none;
        color: $textBlack;
        font-size: 14px;
        padding: 4px 12px;
      }
      a:hover {
        color: $textWhite;
      }
    }

    li:hover {
      background: $backgroundBlack;
    }
  }
}

.responsive-nav-wrapper {
  border-bottom: 0.5px solid rgba($color: #474747, $alpha: 1);
  padding: 10px;
  position: relative;
  z-index: 100;
}

.responsive-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 80%;
  margin: auto;
  .responsive-nav-item {
    display: flex;
    a {
      text-decoration: none;
      color: $textWhite;
      align-self: center;
      margin-left: 3px;
    }

    #responsive-search-field {
      padding: 12px 12px;
      border-radius: 4px;
      border-style: none;
      background: $backgroundWhite;
      width: 250px;
    }
  }
  .search-results-2 {
    position: fixed;
    top: 13%;
    right: 7%;
    display: flex;
    border-radius: 4px;
    background: $backgroundWhite;
    z-index: 20;
    width: 275px;
    // box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);

    p {
      margin: 0;
    }
  }
  .hide-search-results {
    display: none;
  }
  .search-field-wrapper {
    // position: relative;
    position: fixed;
    top: 7%;
    right: 7%;
    display: none;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  }
  .show-search-field {
    display: block;
  }
  .search {
    justify-self: right;
  }
  .search-icon {
    cursor: pointer;
  }
}

.responsive-nav-2-wrapper {
  border-bottom: 1px solid #474747;
  padding: 10px 0;
  .responsive-nav-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 90%;
    margin: auto;
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $textWhite;
      }
    }
  }

  .responsive-account-link {
    position: relative;
  }

  .responsive-account-dropdown-wrapper.active {
    display: block;
  }

  .responsive-account-dropdown-wrapper {
    padding: 8px 0;
    background: $backgroundWhite;
    border-radius: 4px;
    position: absolute;
    top: 150%;
    left: 0;
    z-index: 2;
    display: none;
    width: 100px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);

    li {
      padding: 5px 10px;
      a {
        text-decoration: none;
        color: $textBlack;
        font-size: 14px;
        // padding: 4px 12px;
      }
    }

    li:hover {
      background: $backgroundBlack;
      a {
        color: $textWhite;
      }
    }
  }
}

.responsive-genres {
  position: relative;
}
.responsive-list-genres {
  position: absolute;
  top: 120%;
  left: 0;
  background: $backgroundWhite;
  border-radius: 4px;
  width: 100px;
  padding: 8px 0;
  display: none;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;

  li {
    color: $textBlack;
    padding: 5px 10px;
    font-size: 14px;
  }
  li:hover {
    background: $backgroundBlack;
    color: $textWhite;
  }
}

.show-genres {
  display: block;
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }
}

@media (min-width: 999px) {
  .responsive-nav-wrapper,
  .responsive-nav-2-wrapper {
    display: none;
  }
}
